{% extends 'base.html' %}

{% block content %}

    <a href='/employee/add/'>Add employee</a>
    <h2>List of {{title}}</h2>
    {% if users %}
        <ul>
            {% for user in users %}
            <li>
                {{user.first_name}} &nbsp; {{user.last_name}}
                <a href='/employee/{{user.id}}/details/'>Details</a>
                <a href='/employee/{{user.id}}/edit/'>Edit</a>
                <a href='/employee/{{user.id}}/delete/'>Delete</a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
            <p>There are no employees</p>
        {% endif %}
{% endblock content %}